@import url("https://use.typekit.net/ggv6gjp.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: adobe-garamond-pro, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 300px;
  margin: 5rem;
}

img {
  grid-row: 1;
  grid-column: 1;
}

h1,
input {
  color: #004d99;
  font-weight: 800;
  font-style: italic;
  font-size: 3rem;
  text-align: center;
}

input {
  color: grey;
  margin: 0;
  padding: 0;
  font-family: adobe-garamond-pro, serif;
  border: none;
  font-size: 2rem;
  caret-color: transparent;
  outline: none;
}

.clock-face {
  z-index: 0;
  height: 100%;
}

.hour-hand {
  z-index: 1;
  height: 45%;
}

.minute-hand {
  z-index: 2;
  height: 68%;
}

.second-hand {
  z-index: 3;
  height: 68%;
}
