@import url("https://use.typekit.net/ggv6gjp.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(245, 245, 245);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 2rem 0;
}

.clock-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}

img {
  grid-row: 1;
  grid-column: 1;
}

h1 {
  display: inline-block;
  margin-bottom: .35rem;
}

h1,
input {
  font-size: 2.2rem;
  text-align: center;
  color: #004d99;
}

input {
  border-radius: .5rem;
  font-size: 1.1rem;
  color: grey;
  margin: 0;
  padding: .15rem;
  border: none;
  caret-color: transparent;
  outline: none;
  background: rgb(235, 235, 235);
}

.clock-face {
  z-index: 0;
  height: 100%;
}

.hour-hand {
  z-index: 1;
  height: 45%;
}

.minute-hand {
  z-index: 2;
  height: 68%;
}

.second-hand {
  z-index: 3;
  height: 68%;
}

@media screen and (max-width: 425px) {
  .clock-container {
    height: 225px;
  }
  h1 {
    font-size: 2.5rem;
  }
  input {
    font-size: 1.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: rgb(20, 20, 20);
  }

  h1 {
    color: grey
  }

  input {
    background: none;
    font-weight: 600;
  }
}
